 .container {
   width: 400px;
   height: 300px;
   position: relative;
}

#game {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
}

#control-arrows {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 2em;
  width: 20%;
  height: 20%;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  display: none;
}

#control-button {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 2em;
  width: 15%;
  height: 15%;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  display: none;
}

.arrow {
  background: #aaaaaa;
  border-radius: 3px;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#up-arrow {
  position: absolute;
  top: 0px;
  left: 50px;
}

#down-arrow {
  position: absolute;
  bottom: 0px;
  left: 50px;
}

#left-arrow {
  position: absolute;
  top: 50px;
  left: 0px;
}

#right-arrow {
  position: absolute;
  top: 50px;
  right: 0px;
}



.footer .alert {
    text-align: center;
    line-height: 35px;
}

.footer .alert img {
    margin-top: -3px;
    margin-right: 5px;
}

h1 {
    line-height: 64px;
    margin-bottom: 0;
}

.html5 {
    background: url('../img/html5.png');
    width: 64px;
    height: 64px;
    display: block;
    float: left;
    margin-right: 10px;
}

.html5 span {
    display: none;
}

h1 strong {
    color: #FF4444;
}

.credits {
    color: gray;
}

.credits a {
    color: gray;
    text-decoration: underline;
}

.credits a:hover {
    color: black;
}
